.task-bar-container {
  background-color: #444;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.task-bar-actions {
  position: sticky;
  top: 0;

}

.task-bar-actions button {
  background: none;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 8px;
  color: #ccc;

  &:hover {
    background: #ffffff20;
  }
}

.opened-windows {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
  flex: 1;
}
