.window-container {
  position: absolute;
  border: solid 3px #000;
  display: flex;
  flex-direction: column;
  overflow: auto;
  resize: both;
  min-height: 100px;
  min-width: 200px;
}

.window-header {
  background-color: #999;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;

  &:hover {
    cursor: move;
  }
}

.window-content {
  flex-grow: 1;
  background-color: #a70000;
}

.unique {
  .window-content {
    background-color: #0278ff;
  }
}
