<div class="window-container"
  [style.transform]="'translate3d(' + winData().x + 'px, ' + winData().y +'px, 0)'"
  [style.width.px]="winData().width"
  [style.max-width]="'calc(100% - ' + winData().x + 'px - 10vw)'"
  [style.height.px]="winData().height"
  [style.max-height]="'calc(100% - ' + winData().y + 'px)'"
  [style.z-index]="winData().zIndex"
  [style.resize]="winData().isMaximized ? 'none' : 'both'"
  (mousedown)="bringToFront()"
  [class.unique]="winData().isUnique"
  [class.offFocus]="!winData().onFocus"
  >

  @if (!winData().onFocus) {
    <span style="display: none">{{ checkTemplate }}</span>
    <div class="window-header">
    <span>{{ winData().title }}</span>
    <div class="window-actions">
      <button class="btn" >
          <i class="material-symbols-outlined">minimize</i>
      </button>

      @if (winData().isMaximized) {
      <button class="btn" >
          <i class="material-symbols-outlined">fullscreen_exit</i>
      </button>
      } @else {
      <button class="btn" >
          <i class="material-symbols-outlined">fullscreen</i>
      </button>
      }
      <button class="btn" >
          <i class="material-symbols-outlined">close</i>
      </button>
    </div>
  </div>

  <div class="window-content">
    <ng-content></ng-content>
  </div>
  } @else {
    <span style="display: none">{{ checkTemplate }}</span>
    <div class="window-header" (mousedown)="startDrag($event)">
      <span>{{ winData().title }}</span>
      <div class="window-actions">
        <button class="btn" (click)="minimize()">
          <i class="material-symbols-outlined">minimize</i>
        </button>

        @if (winData().isMaximized) {
          <button class="btn" (click)="restore()">
          <i class="material-symbols-outlined">fullscreen_exit</i>
          </button>
        } @else {
          <button class="btn" (click)="maximize()">
          <i class="material-symbols-outlined">fullscreen</i>
          </button>
        }
        <button class="btn btn-remove" (click)="close()">
          <i class="material-symbols-outlined">close</i>
        </button>
      </div>
    </div>
    <div class="window-content">
      <ng-content></ng-content>
    </div>
  }
</div>
