<div class="window-container"
  [style.transform]="'translate(' + winData().x + 'px, ' + winData().y +'px)'"
  [style.width.px]="winData().width"
  [style.max-width]="'calc(100% - ' + winData().x + 'px - 10vw)'"
  [style.height.px]="winData().height"
  [style.max-height]="'calc(100% - ' + winData().y + 'px)'"
  [style.z-index]="winData().zIndex"
  [style.resize]="winData().isMaximized ? 'none' : 'both'"
  (mousedown)="bringToFront()"
  [class.unique]="winData().isUnique"
  [class.offFocus]="!winData().onFocus"
  >

  @if (!winData().onFocus) {
    <div class="window-header">
    <span>{{ winData().title }}</span>
    <div class="window-actions">
      <button class="btn" >MIN</button>

      @if (winData().isMaximized) {
      <button class="btn" >RES</button>
      } @else {
      <button class="btn" >MAX</button>
      }
      <button class="btn" >X</button>
    </div>
  </div>

  <div class="window-content">
    <ng-content></ng-content>
  </div>
  } @else {
    <div class="window-header" (mousedown)="startDrag($event)">
      <span>{{ winData().title }}</span>
      <div class="window-actions">
        <button class="btn" (click)="minimize()">MIN</button>

        @if (winData().isMaximized) {
          <button class="btn" (click)="restore()">RES</button>
        } @else {
          <button class="btn" (click)="maximize()">MAX</button>
        }
        <button class="btn btn-remove" (click)="close()">X</button>
      </div>
    </div>
    <div class="window-content">
      <ng-content></ng-content>
    </div>
  }
</div>
