.icon-container {
  box-sizing: border-box;
  border: solid 1px #000;
  border-radius: 8px;
  height: 50px;
  overflow: hidden;
  background-color: #ffffff6c;

  &:hover {
    background-color: #ffffffa8;
  }
}

.windowId {
  font-size: smaller;
}
