.icon-container {
  box-sizing: border-box;
  border: solid 1px #ffffff20;
  border-radius: 8px;
  height: 50px;
  overflow: hidden;
  color: #ccc;
  &:hover {
    background-color: #ffffff20;
  }
}

.windowId {
  font-size: smaller;
}
